.offcanvas{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 0 5px 0 ;
    background: inherit;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
}

.offcanvas::before{
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}
